:root {
	--border-color: #000;
	--bg-color: #fff;
	--cellbg-color: #eee;
	--cellbg-hover: #ddd;
	--ship-color: #0059ff;
	--ship-hover: #0047cc;
	--hit-color: #b90000;
	--missed-color: #2b2b2b;
}

*,
html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: inline-block;
}

.header {
	width: 100vw;
	height: 80px;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 91.7vh;
}

.player-side,
.computer-side {
	width: 50vw;
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.player-board,
.computer-board {
	margin: auto;
	width: 35vw;
	height: 65vh;
	border: 1px solid var(--border-color);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.player-ships {
	display: grid;
	margin: auto;
	width: 30vw;
	height: 60vh;
	bottom: 0;
	border: 1px solid var(--border-color);
	border-radius: 15px;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 1fr;
	background-color: var(--cellbg-color);

	.ships-div {
		display: flex;
		gap: 50px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		border-top: 1px solid var(--border-color);
		background-color: var(--bg-color);
	}

	h1 {
		font-size: 1.75rem;
		margin: auto;
	}
}

.cell,
.block {
	display: flex;
	background-color: var(--cellbg-color);
	border: 1px solid var(--border-color);

	&:hover {
		background-color: var(--cellbg-hover);
	}
}

.ship {
	display: flex;
}

.block,
.player-board > .ship {
	background-color: var(--ship-color);

	&:hover {
		background-color: var(--ship-hover);
	}
}

.block {
	width: 3.4vw;
	height: 6.1vh;
}

.hit {
	background-color: var(--hit-color) !important;
}

.missed {
	background-color: var(--missed-color) !important;
}

.bg-blur {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.game-over {
	z-index: inherit;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 250px;
	width: 500px;
	background-color: rgba(30, 30, 30, 0.95);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3vh;

	p {
		color: var(--cellbg-color);
		font-size: 2.5em;
		font-weight: 900;
	}

	button {
		padding: 15px 20px;
		background-color: var(--hit-color);
		border-radius: 25px;
		border: 0;
		color: var(--cellbg-color);
		font-size: 1.25em;
		cursor: pointer;
		transition: 0.25s;

		&:hover {
			scale: 1.1;
		}

		&:active {
			scale: 1;
		}
	}
}

.hidden {
	display: none;
}
