*,
html,
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body {
	display: inline-block;
}

.header {
	width: 100vw;
	height: 80px;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 91.4vh;
}

.player-side,
.computer-side {
	width: 100vw;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.player-board,
.computer-board {
	margin: auto;
	margin-top: 30px;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

.player-ships {
	width: 800px;
	height: 200px;
	margin: auto;
	margin-top: -25px;
	bottom: 0;
	border: 1px solid black;
}
